h1 {
    padding:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.buttonContainer {
    display: flex;            
    justify-content: center;      
    align-items: center;          
    margin-top: 20px;             
}

.mainButton{
    padding:5px;
    margin-top:20px;
    margin-left:50px;
    margin-right:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-width:500px;
    min-height: 50px;
}

.downloadLink{
    font-size:20px;
    font-weight:bold;
    min-width: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    border:4px;
    border-color:black;
    text-decoration: none;
    text-decoration-color: black;
}

img {
    max-width:75%;
    max-height: 75%;
    margin-left:auto;
    margin-right:auto;
}