{% load static %}
<script src="{% static 'js/functions.js' %}"></script> 
<link rel="stylesheet" href="{% static 'css/index.css' %}">


<h1> Welcome to Image Processing </h1>
<div class="buttonContainer">
    <button class="mainButton" onclick="importButton()">Upload Image for Processing</button>
</div>

<dialog id="importDialog">
    <button class="closeButton" onclick="closeImportDialog()">X</button>
    <form action="uploadFile" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="preprocessingFile">Image for Processing: </label>
        <input id="preprocessingFile" type="file" name="preprocessingFile" required>
        <div class="buttonContainer">
            <input class="filterButton" type="submit" name="filterName" value="Grayscale">
            <input class="filterButton" type="submit" name="filterName" value="Blur">
            <input class="filterButton" type="submit" name="filterName" value="Poster">
            <input class="filterButton" type="submit" name="filterName" value="Edge">
            <input class="filterButton" type="submit" name="filterName" value="Solar">
        </div>
    </form>
</dialog>
